.door {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: center;
  margin: 0.5rem;
}

.number {
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
  position: relative;
  top: 1rem;
}

.floor {
  width: 10rem;
  height: 1rem;
  background-color: gray;
}

.margin {
  width: var(--door-width);
  height: var(--door-height);
  position: relative;
  border: 2px solid red;
  border-bottom: none;
}

.front {
  width: var(--door-width - 1rem);
  height: var(--door-height);
  background-color: brown;
  position: relative;
  border-bottom: none;
}

.front:hover {
  cursor: pointer;
}

.selected {
  border: 2px solid yellow;
  border-bottom: none;
}

.knob {
  width: 15px;
  height: 15px;
  right: 5%;
  top: 50%;
  border-radius: 50%;
  position: absolute;
  background-color: yellow;
}

.knob:hover {
  cursor: pointer;
}

.open {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  width: var(--door-width - 1rem);
  height: var(--door-height);
  position: relative;
  background-color: rgb(39, 38, 38);
}
