.menuContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background-color: #000;
  position: absolute;
}

.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
  height: 30rem;
  border-radius: 7px;
}

.display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
}

.title {
  background-color: #6832e6;
  border-radius: 7px 0 0 0;
  border: 1px solid #000;
  font-size: 2rem;
  padding: 1.5rem;
}

.selectNumber {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #9c1bc3;
  border: 1px solid #000;
  border-radius: 0 7px 0 0;
  padding: 2rem;
}

.selectNumber h3 {
  font-size: 2rem;
}

.selectNumber h2 {
  font-size: 2.5rem;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  width: 7rem;
}

.buttonContainer button {
  width: 3rem;
  height: 2rem;
  font-size: 1.5rem;
  background-color: lightgray;
  color: #000;
  border: none;
  border-radius: 7px;
  font-weight: bolder;
  transition: 0.3s ease;
}

.buttonContainer button:hover {
  cursor: pointer;
  background-color: rgb(191, 191, 191);
}

.filler {
  background-color: #9c1bc3;
  border: 1px solid #000;
  border-radius: 0 0 0 7px;
}

.start {
  background-color: #6832e6;
  border: 1px solid #000;
  border-radius: 0 0 7px 0;
  transition: 0.3s ease;
  font-size: 2rem;
}

.start:hover {
  cursor: pointer;
  background-color: #5a21e0;
}
